In [1]:
# 공급량 예측을 위해 사용하는 여러 데이터 중에서 '주택건설 인허가 데이터'와 '미분양 데이터'를 이용
# '주택건설 인허가 데이터'는 주택건설 사업자가 주택건설 사업 계획을 승인받은 숫자를 월별로 집계한 데이터로 2~3년 후에 
# 해당 지역에 새로 공급되는 주택 물량을 가늠하는 데이터로 사용할 수 있다. 물론 인허가 데이터이므로 실제 착공으로 이어지지 않을 수도 있지만
# 해당 지역 공급량의 큰 흐름을 파악하기에는 충분.

# '미분양 데이터'는 이름 그대로 분양되지 않은, 한마디로 팔리지 않고 남아있는 주택에 관한 데이터다. 

# 하지만 이 또한 한계가 있다!! 주의 할 것!
# 2012, 2013년에 인허가(공급)가 크게 상승하자 매매가 지수가 바닥을 찍엇고 
# 2015년 이후 추세적으로 공급이 점점 감소하자 가격이 계속 상승 하는 모습을 보인다. 
# 2017년에는 인허가의 일시적인 상승이 있었는데, 이때는 매매가 지수의 상승세는 꺽이지 않는 모습이 관찰된다.
# 인허가(공급) 데이터로 부동산 가격을 예측하는 것은 이러한 한계가 있으니 주의해야 한다.

# 공급이 증가했다 하더라도 수요가 그보다 더 많이 증가했을 가능성도 있고 공급량 외에도 많은 요소가 부동산 가격의 움직임에 영향을 미칠 수 있다.

# 인허가와 미분양 데이터를 가지고는 앞서 살펴본 수요에서처럼 특별히 계량화한 전략은 구현하지 않았다. 인허가와 미분양은 단순히 증가, 감소만 봐서는 안되고
# 절대값이 어느 정도수준이고 얼마나 이 상태를 지속하고 있는지 모두 중요하기 때문이다. 그래서 여기서는 인허가와 미분양 데이터를 앞에서 만든 수요 전략을 
# 보충하는 용도로 사용해보겠다.
# 수요 전략에 의해 선택된 지역들의 인허가나 미분양을 살펴보면서 공급 측면에서 투자하기 적합한 지역인지  살펴보고 선택된 지역들에 대한 확신을 다지는 용도로
# 사용하는 것이다.

In [2]:
# 인허가 데이터는 '한국 감정원 부동산 통계정보 시스템' 사이트에서 '부동산통계->부동산통계'

In [5]:
import pandas as pd

permission_path = r'/Users/gamgoon/Development/ML/realty/주택건설인허가실적.xlsx'
permission_raw = pd.read_excel(permission_path, skiprows=10, index_col=0)

In [6]:
permission_raw

,2007년 01월,2007년 02월,2007년 03월,2007년 04월,2007년 05월,2007년 06월,2007년 07월,2007년 08월,2007년 09월,2007년 10월,...,2018년 07월,2018년 08월,2018년 09월,2018년 10월,2018년 11월,2018년 12월,2019년 01월,2019년 02월,2019년 03월,2019년 04월
지 역,,,,,,,,,,,,,,,,,,,,,
전국,12038,17751,20038,19186,30593,30830,45848,48461,55745,103817,...,58295,38299,30268,35879,43859,98031,32023,42254,50863,35616
서울,1530,794,1888,1963,1866,1893,7338,11719,13182,8146,...,6305,4296,3644,5856,8509,9176,8065,5307,14885,3443
부산,455,1099,2121,364,897,235,9678,6688,5079,6098,...,10817,1637,939,1281,1153,1129,1921,1717,785,1700
대구,818,2731,1047,514,575,887,439,754,2305,75,...,829,3075,3074,822,4535,5779,471,1547,1117,1828
인천,69,116,930,3337,211,5349,1207,1401,4464,8846,...,1850,7872,1850,2138,6746,3793,932,9314,2908,2962
광주,1022,1178,1347,226,2071,139,1559,478,1117,2891,...,5436,246,358,148,2959,437,904,941,3929,1347
대전,55,34,65,81,511,427,54,51,46,3178,...,2372,309,364,595,95,470,3504,1255,1222,971
울산,183,1173,685,2281,244,1787,4248,1506,4007,1265,...,197,382,465,369,4087,2498,93,40,85,224
세종,-,-,-,-,-,-,-,-,-,-,...,81,42,85,35,32,1287,58,20,4111,27
경기,2647,2870,3188,3987,13168,7071,10964,15170,15969,54836,...,13733,9452,11030,10864,9451,46477,8837,11356,15678,15391
강원,452,190,389,1154,513,1535,483,1222,913,932,...,2244,1364,2134,2220,843,2117,2094,790,753,704
충북,188,305,694,464,680,2549,803,2075,1202,2317,...,2522,1514,1963,2905,242,2952,504,628,451,1164
충남,1004,1306,1890,701,3087,1600,1856,1407,991,4175,...,1767,1465,1230,3743,2387,5543,2785,2451,1572,1061
전북,888,602,663,474,311,927,315,402,240,1217,...,1567,506,992,323,370,4343,207,1044,316,795
전남,206,494,391,1219,353,3090,1698,757,1762,1698,...,2471,1066,457,1423,887,1543,366,2441,1674,1868
경북,698,2244,2314,1224,850,1184,3482,1200,2711,5441,...,3607,1448,847,1342,742,3068,476,934,551,1017
경남,1691,2515,2321,1049,5178,1714,1429,3220,1714,2467,...,1949,3109,361,1343,441,6800,348,2146,505,677
제주,132,100,105,148,78,443,295,411,43,235,...,548,516,475,472,380,619,458,323,321,437

In [7]:
# permission_raw의 행과 열을 바꾸기
transposed_permission = permission_raw.T

In [8]:
transposed_permission

지 역,전국,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2007년 01월,12038,1530,455,818,69,1022,55,183,-,2647,452,188,1004,888,206,698,1691,132
2007년 02월,17751,794,1099,2731,116,1178,34,1173,-,2870,190,305,1306,602,494,2244,2515,100
2007년 03월,20038,1888,2121,1047,930,1347,65,685,-,3188,389,694,1890,663,391,2314,2321,105
2007년 04월,19186,1963,364,514,3337,226,81,2281,-,3987,1154,464,701,474,1219,1224,1049,148
2007년 05월,30593,1866,897,575,211,2071,511,244,-,13168,513,680,3087,311,353,850,5178,78
2007년 06월,30830,1893,235,887,5349,139,427,1787,-,7071,1535,2549,1600,927,3090,1184,1714,443
2007년 07월,45848,7338,9678,439,1207,1559,54,4248,-,10964,483,803,1856,315,1698,3482,1429,295
2007년 08월,48461,11719,6688,754,1401,478,51,1506,-,15170,1222,2075,1407,402,757,1200,3220,411
2007년 09월,55745,13182,5079,2305,4464,1117,46,4007,-,15969,913,1202,991,240,1762,2711,1714,43
2007년 10월,103817,8146,6098,75,8846,2891,3178,1265,-,54836,932,2317,4175,1217,1698,5441,2467,235
2007년 11월,75485,4768,4741,3069,7673,2336,1104,3969,-,29143,1091,3900,6363,2026,2760,812,1617,113
2007년 12월,96000,7755,3799,4960,7968,-1276,5574,3159,-,39125,1803,4806,4937,3777,827,2125,6588,73
2008년 01월,20876,1401,628,6983,931,46,294,1137,-,3445,1304,664,1098,161,196,350,1415,823
2008년 02월,13246,2577,635,97,1760,42,2694,105,-,2525,213,307,365,235,331,615,646,99
2008년 03월,17316,1062,1144,98,1170,3099,55,152,-,3748,676,515,1501,358,964,1535,1007,232
2008년 04월,34190,14590,788,1534,1156,111,1628,391,-,5330,700,483,3034,1624,900,862,853,206
2008년 05월,25999,6269,2321,57,2527,0,142,612,-,4286,1479,877,1478,292,361,1354,3880,64
2008년 06월,20633,5053,351,3303,2081,-2867,297,174,-,3285,407,775,2136,593,386,827,3744,88
2008년 07월,22805,4388,113,762,3401,46,36,145,-,7603,529,313,448,1223,207,1857,1688,46
2008년 08월,22086,2409,113,1097,3116,33,81,104,-,9575,305,281,311,282,950,2035,698,696
2008년 09월,18734,1522,50,703,1546,305,69,1348,-,3297,1259,826,580,2318,298,1866,1787,960
2008년 10월,21746,1521,191,74,1248,67,971,298,-,8229,958,1172,2202,1250,552,945,1650,418
2008년 11월,32403,1603,2099,56,610,1322,1721,213,-,15821,780,1482,1475,628,354,853,2904,482
2008년 12월,121251,6022,5161,8116,14086,1741,6568,1218,-,48387,4625,2319,7029,3099,5350,2782,4103,645
2009년 01월,9363,764,74,25,496,30,15,72,-,1825,1306,1956,1592,127,174,543,322,42
2009년 02월,10454,1852,41,38,2511,539,668,108,-,1763,237,263,277,1069,358,349,346,35
2009년 03월,14127,1256,133,57,2279,78,67,312,-,4903,677,581,484,964,416,940,904,76
2009년 04월,16386,1812,448,700,3643,94,62,169,-,2616,494,376,573,388,717,3374,813,107
2009년 05월,16850,3359,141,76,2557,77,55,101,-,2872,2066,812,509,326,463,1726,992,718
2009년 06월,31781,1386,602,60,1877,59,86,117,-,9821,2066,383,7330,1958,1605,1350,2984,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016년 11월,64833,4894,930,1701,3813,988,3209,695,407,28459,1246,3043,4099,2416,2591,1423,3293,1626
2016년 12월,89225,9171,5813,2313,2975,2779,2245,978,2309,35080,1415,3283,2631,7287,1137,2248,5727,1834
2017년 01월,39898,5102,3072,1716,849,2591,232,140,741,12766,592,5796,532,1164,529,986,1736,1354
2017년 02월,49582,9407,1618,1187,831,3475,466,465,30,13503,2504,2319,2998,1815,804,4198,2837,1125
2017년 03월,51620,7157,4300,2294,796,2332,193,172,124,13367,2701,6533,1261,1017,2995,997,3998,1383
2017년 04월,43568,7628,3065,2185,1086,1881,306,1049,67,12643,1952,738,3557,1585,619,1664,2120,1423
2017년 05월,53511,5114,7728,4627,2607,2435,2212,641,323,13176,1539,733,1046,1474,1241,1364,4845,2406
2017년 06월,59608,6017,4821,6326,4159,2790,215,2576,218,10674,5279,596,2806,2108,1484,947,6416,2176
2017년 07월,50180,8699,5303,2926,762,205,619,290,66,18966,2212,690,1869,646,1812,3001,1195,919
2017년 08월,48502,7373,5671,1264,1068,2536,322,175,334,13937,2447,2006,1771,2472,1474,3313,1519,820
2017년 09월,58488,16962,4585,595,848,201,297,1088,60,12509,4688,2335,3488,441,1496,3018,4774,1103
2017년 10월,47309,15824,2586,2622,1998,79,1099,1369,1792,9353,1965,624,909,1827,2736,1600,621,305
2017년 11월,50292,7797,2645,918,1983,145,85,1596,2423,20301,1282,4391,1134,676,2115,1217,1048,536
2017년 12월,100883,16051,1765,4718,5702,1656,3907,3186,3154,34387,2336,3702,3930,1999,3134,2800,7843,613
2018년 01월,37696,5694,3052,947,5079,227,190,145,50,9129,3312,3259,2136,1060,378,1196,1113,729
2018년 02월,43396,3504,1959,9438,1560,1289,312,212,223,16529,795,2181,1678,404,1501,569,849,393
2018년 03월,38479,4361,3046,944,3351,112,1067,226,54,11707,1754,1391,1960,327,1063,3065,3422,629
2018년 04월,46737,5291,1679,1213,3608,471,227,1931,68,15294,3282,2141,2207,520,2432,3468,1898,1007
2018년 05월,38919,5490,2391,1252,1132,953,278,676,68,9278,2784,1770,728,1906,1651,3894,3558,1110
2018년 06월,44278,3625,5269,3536,396,2363,241,1571,37,12027,3448,5055,1287,701,1198,2182,848,494
2018년 07월,58295,6305,10817,829,1850,5436,2372,197,81,13733,2244,2522,1767,1567,2471,3607,1949,548
2018년 08월,38299,4296,1637,3075,7872,246,309,382,42,9452,1364,1514,1465,506,1066,1448,3109,516
2018년 09월,30268,3644,939,3074,1850,358,364,465,85,11030,2134,1963,1230,992,457,847,361,475
2018년 10월,35879,5856,1281,822,2138,148,595,369,35,10864,2220,2905,3743,323,1423,1342,1343,472
2018년 11월,43859,8509,1153,4535,6746,2959,95,4087,32,9451,843,242,2387,370,887,742,441,380
2018년 12월,98031,9176,1129,5779,3793,437,470,2498,1287,46477,2117,2952,5543,4343,1543,3068,6800,619
2019년 01월,32023,8065,1921,471,932,904,3504,93,58,8837,2094,504,2785,207,366,476,348,458
2019년 02월,42254,5307,1717,1547,9314,941,1255,40,20,11356,790,628,2451,1044,2441,934,2146,323
2019년 03월,50863,14885,785,1117,2908,3929,1222,85,4111,15678,753,451,1572,316,1674,551,505,321
2019년 04월,35616,3443,1700,1828,2962,1347,971,224,27,15391,704,1164,1061,795,1868,1017,677,437

In [9]:
new_index = []

for old_date in transposed_permission.index:
    temp_list = old_date.split(' ')
    new_index.append(temp_list[0][:4] + '.' + temp_list[1][:2])

new_index

['2007.01',
 '2007.02',
 '2007.03',
 '2007.04',
 '2007.05',
 '2007.06',
 '2007.07',
 '2007.08',
 '2007.09',
 '2007.10',
 '2007.11',
 '2007.12',
 '2008.01',
 '2008.02',
 '2008.03',
 '2008.04',
 '2008.05',
 '2008.06',
 '2008.07',
 '2008.08',
 '2008.09',
 '2008.10',
 '2008.11',
 '2008.12',
 '2009.01',
 '2009.02',
 '2009.03',
 '2009.04',
 '2009.05',
 '2009.06',
 '2009.07',
 '2009.08',
 '2009.09',
 '2009.10',
 '2009.11',
 '2009.12',
 '2010.01',
 '2010.02',
 '2010.03',
 '2010.04',
 '2010.05',
 '2010.06',
 '2010.07',
 '2010.08',
 '2010.09',
 '2010.10',
 '2010.11',
 '2010.12',
 '2011.01',
 '2011.02',
 '2011.03',
 '2011.04',
 '2011.05',
 '2011.06',
 '2011.07',
 '2011.08',
 '2011.09',
 '2011.10',
 '2011.11',
 '2011.12',
 '2012.01',
 '2012.02',
 '2012.03',
 '2012.04',
 '2012.05',
 '2012.06',
 '2012.07',
 '2012.08',
 '2012.09',
 '2012.10',
 '2012.11',
 '2012.12',
 '2013.01',
 '2013.02',
 '2013.03',
 '2013.04',
 '2013.05',
 '2013.06',
 '2013.07',
 '2013.08',
 '2013.09',
 '2013.10',
 '2013.11',
 '2013.12',
 '2014.01',
 '2014.02',
 '2014.03',
 '2014.04',
 '2014.05',
 '2014.06',
 '2014.07',
 '2014.08',
 '2014.09',
 '2014.10',
 '2014.11',
 '2014.12',
 '2015.01',
 '2015.02',
 '2015.03',
 '2015.04',
 '2015.05',
 '2015.06',
 '2015.07',
 '2015.08',
 '2015.09',
 '2015.10',
 '2015.11',
 '2015.12',
 '2016.01',
 '2016.02',
 '2016.03',
 '2016.04',
 '2016.05',
 '2016.06',
 '2016.07',
 '2016.08',
 '2016.09',
 '2016.10',
 '2016.11',
 '2016.12',
 '2017.01',
 '2017.02',
 '2017.03',
 '2017.04',
 '2017.05',
 '2017.06',
 '2017.07',
 '2017.08',
 '2017.09',
 '2017.10',
 '2017.11',
 '2017.12',
 '2018.01',
 '2018.02',
 '2018.03',
 '2018.04',
 '2018.05',
 '2018.06',
 '2018.07',
 '2018.08',
 '2018.09',
 '2018.10',
 '2018.11',
 '2018.12',
 '2019.01',
 '2019.02',
 '2019.03',
 '2019.04']

In [11]:
transposed_permission.index = pd.to_datetime(new_index)
transposed_permission.columns.name = None # 날짜 위의 '지역'이라고 쓰여 있는 부분 제거

In [12]:
transposed_permission

,전국,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2007-01-01,12038,1530,455,818,69,1022,55,183,-,2647,452,188,1004,888,206,698,1691,132
2007-02-01,17751,794,1099,2731,116,1178,34,1173,-,2870,190,305,1306,602,494,2244,2515,100
2007-03-01,20038,1888,2121,1047,930,1347,65,685,-,3188,389,694,1890,663,391,2314,2321,105
2007-04-01,19186,1963,364,514,3337,226,81,2281,-,3987,1154,464,701,474,1219,1224,1049,148
2007-05-01,30593,1866,897,575,211,2071,511,244,-,13168,513,680,3087,311,353,850,5178,78
2007-06-01,30830,1893,235,887,5349,139,427,1787,-,7071,1535,2549,1600,927,3090,1184,1714,443
2007-07-01,45848,7338,9678,439,1207,1559,54,4248,-,10964,483,803,1856,315,1698,3482,1429,295
2007-08-01,48461,11719,6688,754,1401,478,51,1506,-,15170,1222,2075,1407,402,757,1200,3220,411
2007-09-01,55745,13182,5079,2305,4464,1117,46,4007,-,15969,913,1202,991,240,1762,2711,1714,43
2007-10-01,103817,8146,6098,75,8846,2891,3178,1265,-,54836,932,2317,4175,1217,1698,5441,2467,235
2007-11-01,75485,4768,4741,3069,7673,2336,1104,3969,-,29143,1091,3900,6363,2026,2760,812,1617,113
2007-12-01,96000,7755,3799,4960,7968,-1276,5574,3159,-,39125,1803,4806,4937,3777,827,2125,6588,73
2008-01-01,20876,1401,628,6983,931,46,294,1137,-,3445,1304,664,1098,161,196,350,1415,823
2008-02-01,13246,2577,635,97,1760,42,2694,105,-,2525,213,307,365,235,331,615,646,99
2008-03-01,17316,1062,1144,98,1170,3099,55,152,-,3748,676,515,1501,358,964,1535,1007,232
2008-04-01,34190,14590,788,1534,1156,111,1628,391,-,5330,700,483,3034,1624,900,862,853,206
2008-05-01,25999,6269,2321,57,2527,0,142,612,-,4286,1479,877,1478,292,361,1354,3880,64
2008-06-01,20633,5053,351,3303,2081,-2867,297,174,-,3285,407,775,2136,593,386,827,3744,88
2008-07-01,22805,4388,113,762,3401,46,36,145,-,7603,529,313,448,1223,207,1857,1688,46
2008-08-01,22086,2409,113,1097,3116,33,81,104,-,9575,305,281,311,282,950,2035,698,696
2008-09-01,18734,1522,50,703,1546,305,69,1348,-,3297,1259,826,580,2318,298,1866,1787,960
2008-10-01,21746,1521,191,74,1248,67,971,298,-,8229,958,1172,2202,1250,552,945,1650,418
2008-11-01,32403,1603,2099,56,610,1322,1721,213,-,15821,780,1482,1475,628,354,853,2904,482
2008-12-01,121251,6022,5161,8116,14086,1741,6568,1218,-,48387,4625,2319,7029,3099,5350,2782,4103,645
2009-01-01,9363,764,74,25,496,30,15,72,-,1825,1306,1956,1592,127,174,543,322,42
2009-02-01,10454,1852,41,38,2511,539,668,108,-,1763,237,263,277,1069,358,349,346,35
2009-03-01,14127,1256,133,57,2279,78,67,312,-,4903,677,581,484,964,416,940,904,76
2009-04-01,16386,1812,448,700,3643,94,62,169,-,2616,494,376,573,388,717,3374,813,107
2009-05-01,16850,3359,141,76,2557,77,55,101,-,2872,2066,812,509,326,463,1726,992,718
2009-06-01,31781,1386,602,60,1877,59,86,117,-,9821,2066,383,7330,1958,1605,1350,2984,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-01,64833,4894,930,1701,3813,988,3209,695,407,28459,1246,3043,4099,2416,2591,1423,3293,1626
2016-12-01,89225,9171,5813,2313,2975,2779,2245,978,2309,35080,1415,3283,2631,7287,1137,2248,5727,1834
2017-01-01,39898,5102,3072,1716,849,2591,232,140,741,12766,592,5796,532,1164,529,986,1736,1354
2017-02-01,49582,9407,1618,1187,831,3475,466,465,30,13503,2504,2319,2998,1815,804,4198,2837,1125
2017-03-01,51620,7157,4300,2294,796,2332,193,172,124,13367,2701,6533,1261,1017,2995,997,3998,1383
2017-04-01,43568,7628,3065,2185,1086,1881,306,1049,67,12643,1952,738,3557,1585,619,1664,2120,1423
2017-05-01,53511,5114,7728,4627,2607,2435,2212,641,323,13176,1539,733,1046,1474,1241,1364,4845,2406
2017-06-01,59608,6017,4821,6326,4159,2790,215,2576,218,10674,5279,596,2806,2108,1484,947,6416,2176
2017-07-01,50180,8699,5303,2926,762,205,619,290,66,18966,2212,690,1869,646,1812,3001,1195,919
2017-08-01,48502,7373,5671,1264,1068,2536,322,175,334,13937,2447,2006,1771,2472,1474,3313,1519,820
2017-09-01,58488,16962,4585,595,848,201,297,1088,60,12509,4688,2335,3488,441,1496,3018,4774,1103
2017-10-01,47309,15824,2586,2622,1998,79,1099,1369,1792,9353,1965,624,909,1827,2736,1600,621,305
2017-11-01,50292,7797,2645,918,1983,145,85,1596,2423,20301,1282,4391,1134,676,2115,1217,1048,536
2017-12-01,100883,16051,1765,4718,5702,1656,3907,3186,3154,34387,2336,3702,3930,1999,3134,2800,7843,613
2018-01-01,37696,5694,3052,947,5079,227,190,145,50,9129,3312,3259,2136,1060,378,1196,1113,729
2018-02-01,43396,3504,1959,9438,1560,1289,312,212,223,16529,795,2181,1678,404,1501,569,849,393
2018-03-01,38479,4361,3046,944,3351,112,1067,226,54,11707,1754,1391,1960,327,1063,3065,3422,629
2018-04-01,46737,5291,1679,1213,3608,471,227,1931,68,15294,3282,2141,2207,520,2432,3468,1898,1007
2018-05-01,38919,5490,2391,1252,1132,953,278,676,68,9278,2784,1770,728,1906,1651,3894,3558,1110
2018-06-01,44278,3625,5269,3536,396,2363,241,1571,37,12027,3448,5055,1287,701,1198,2182,848,494
2018-07-01,58295,6305,10817,829,1850,5436,2372,197,81,13733,2244,2522,1767,1567,2471,3607,1949,548
2018-08-01,38299,4296,1637,3075,7872,246,309,382,42,9452,1364,1514,1465,506,1066,1448,3109,516
2018-09-01,30268,3644,939,3074,1850,358,364,465,85,11030,2134,1963,1230,992,457,847,361,475
2018-10-01,35879,5856,1281,822,2138,148,595,369,35,10864,2220,2905,3743,323,1423,1342,1343,472
2018-11-01,43859,8509,1153,4535,6746,2959,95,4087,32,9451,843,242,2387,370,887,742,441,380
2018-12-01,98031,9176,1129,5779,3793,437,470,2498,1287,46477,2117,2952,5543,4343,1543,3068,6800,619
2019-01-01,32023,8065,1921,471,932,904,3504,93,58,8837,2094,504,2785,207,366,476,348,458
2019-02-01,42254,5307,1717,1547,9314,941,1255,40,20,11356,790,628,2451,1044,2441,934,2146,323
2019-03-01,50863,14885,785,1117,2908,3929,1222,85,4111,15678,753,451,1572,316,1674,551,505,321
2019-04-01,35616,3443,1700,1828,2962,1347,971,224,27,15391,704,1164,1061,795,1868,1017,677,437

In [13]:
# 인허가 데이터를 데이터프레임으로 변환하는 함수 정의
def permission_preprocessing(path):
    permission_raw = pd.read_excel(permission_path, skiprows=10, index_col=0)
    transposed_permission = permission_raw.T
    new_index = []

    for old_date in transposed_permission.index:
        temp_list = old_date.split(' ')
        new_index.append(temp_list[0][:4] + '.' + temp_list[1][:2])
    transposed_permission.index = pd.to_datetime(new_index)
    transposed_permission.columns.name = None # 날짜 위의 '지역'이라고 쓰여 있는 부분 제거
    
    return permission_raw

In [19]:
# 미분양 데이터

unsold_path = r'/Users/gamgoon/Development/ML/realty/시·군·구별+미분양현황_2082_128_20190623201955.xlsx'
unsold_raw = pd.read_excel(unsold_path, skiprows=1, index_col=0)

In [20]:
unsold_raw

,시군구,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,...,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04
구분,,,,,,,,,,,,,,,,,,,,,
서울,계,697.0,590.0,687.0,685.0,704.0,778.0,840.0,730.0,724.0,...,42,39,29.0,28.0,28,27,27,50,770,292.0
부산,계,8680.0,8576.0,8548.0,8074.0,7964.0,9212.0,9557.0,9925.0,10739.0,...,3266,3129,3111.0,3205.0,3920,4153,5224,5228,5296,5401.0
대구,계,9467.0,9134.0,9189.0,9009.0,10888.0,12489.0,12179.0,12075.0,11944.0,...,1345,945,745.0,575.0,429,362,291,738,706,1585.0
인천,계,243.0,312.0,266.0,219.0,362.0,883.0,797.0,635.0,507.0,...,1260,1208,1135.0,1122.0,1394,1324,1357,1799,2454,2105.0
광주,계,7005.0,6246.0,5905.0,5829.0,7842.0,8272.0,7186.0,7433.0,7294.0,...,266,240,194.0,194.0,75,58,52,49,45,40.0
대전,계,819.0,803.0,1048.0,1020.0,957.0,1179.0,1191.0,1478.0,2095.0,...,973,978,948.0,990.0,1426,1183,1407,1475,1475,1225.0
울산,계,1180.0,1210.0,1687.0,1521.0,1500.0,1528.0,1741.0,1564.0,3240.0,...,1006,1005,1007.0,1010.0,1009,997,1006,1009,1008,1076.0
경기,계,819.0,3361.0,2579.0,2488.0,2488.0,3899.0,3883.0,4452.0,7906.0,...,7530,7287,6487.0,5529.0,5078,4968,6769,5878,7305,7048.0
강원,계,5312.0,5344.0,5801.0,5460.0,5212.0,6642.0,6850.0,6625.0,6558.0,...,4906,5240,5112.0,5350.0,5300,5736,5589,5802,5748,7882.0
충북,계,2548.0,2645.0,2565.0,3632.0,4012.0,4078.0,4263.0,4378.0,4167.0,...,4870,4880,4426.0,4944.0,4707,4560,3525,3375,3536,3514.0
충남,계,7449.0,7363.0,7446.0,8250.0,9195.0,11245.0,10707.0,10930.0,10963.0,...,9963,9953,9489.0,9141.0,8476,7763,7149,6970,6743,6413.0
전북,계,5179.0,5098.0,5184.0,4812.0,4625.0,4662.0,5289.0,5202.0,4903.0,...,2034,1810,1681.0,1834.0,1692,1607,1567,1415,1374,1205.0
전남,계,5374.0,5253.0,4887.0,4664.0,4640.0,5168.0,5041.0,5150.0,5532.0,...,1103,1494,1350.0,1742.0,1689,1663,2000,1957,1374,1474.0
경북,계,6210.0,5952.0,5854.0,5419.0,6303.0,7665.0,8541.0,8389.0,8683.0,...,8198,8033,8760.0,8942.0,9421,8995,8531,8385,8262,8060.0
경남,계,11772.0,11563.0,11328.0,12149.0,11723.0,12072.0,12414.0,12576.0,12811.0,...,15095,14912,14847.0,14673.0,14213,14147,14060,14781,14824,13476.0
제주,계,77.0,96.0,188.0,162.0,156.0,152.0,179.0,172.0,169.0,...,1275,1217,1275.0,1226.0,1265,1295,1187,1271,1227,1245.0
세종,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,0,0,NaN

In [21]:
del unsold_raw['시군구']
transposed_unsold = unsold_raw.T
transposed_unsold.index = pd.to_datetime(transposed_unsold.index)
transposed_unsold.columns.name = None

In [ ]:
# 미분양 데이터를 데이터프레임으로 변환하는 함수
def unsold_preprocessing(path):
    unsold_raw = pd.read_excel(unsold_path, skiprows=1, index_col=0)
    del unsold_raw['시군구']
    transposed_unsold = unsold_raw.T
    transposed_unsold.index = pd.to_datetime(transposed_unsold.index)
    transposed_unsold.columns.name = None
    
    return transposed_unsold